$content-color: #333;
$medium-color: #666;
$hight-color: #999;
$content-background: #F1F1F1;
$content-notice-color: #777;
$search-background: #F5F5F5;
$search-font-color: #B7B7B7;
$background-color: #FFF;
$hightlinght-color: #E93B3B;
$button-color: #0091FF;

